

.section-header {
    height:100vh;
    background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(39, 117, 19, 0.73)),
        url('img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.section-padding {
    padding-top:100px;
    padding-bottom: 100px;
}

.section-pricing {
    background-color: #f9f9f9;
}

.full-card {
    box-shadow: 10px 10px 32px -14px rgba(0,0,0,0.75);
    transition: transform .2s;
}

.full-card:hover {
    transform:scale(1.05);
}


.full-card .card-custom-header {
    padding:20px;
    border-bottom: 1px solid silver;
}

.full-card .card-custom-body {
    padding:30px;
}

.full-card .feature-available {
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:green;
}

.full-card .feature-unavailable {
    width:10px;
    height:10px;
    border:1px solid silver;
    border-radius:50%;
}

.btn-custom-width {
    width:100px!important;
    margin-right: auto;
    margin-left: auto;
}

.custom-badge {
    background-color:green;

    color:white;
}

footer {
    background-color: #f9f9f9
}

footer .custom-link {
    text-decoration:none;
    color:#9B9B9B;
    font-size:1rem;
}