

.section-header {
    height:100vh;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(88, 88, 88, 0.73)),
        url('img/heroCompressed.jpg');
    /* background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(84, 227, 131, 0.73)),
        url('img/heroCompressed.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}

.section-padding {
    padding-top:100px;
    padding-bottom: 100px;
}

.section-pricing {
    background-color: #f9f9f9;
}

.full-card {
    box-shadow: 10px 10px 32px -14px rgba(0,0,0,0.75);
    transition: transform .2s;
}

.full-card:hover {
    transform:scale(1.05);
}


.full-card .card-custom-header {
    padding:20px;
    border-bottom: 1px solid silver;
}

.full-card .card-custom-body {
    padding:30px;
}

.full-card .feature-available {
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:green;
}

.full-card .feature-unavailable {
    width:10px;
    height:10px;
    border:1px solid silver;
    border-radius:50%;
}

.btn-custom-width {
    width:100px!important;
    margin-right: auto;
    margin-left: auto;
}

.custom-badge {
    background-color:green;

    color:white;
}

footer {
    background-color: #f9f9f9
}

footer .custom-link {
    text-decoration:none;
    color:#9B9B9B;
    font-size:1rem;
}

.feature-icon {
    width:50px;
    height:50px;
}

.btn-green-custom {
    background-color: #54E383;
    border:none;
    color:white;
    transition: background-color 0.2s ease;
}

.btn-green-custom:hover {
    background-color:#21ac4f;
    color:white;  
}

/*
.more-about {
    font-size: 2rem;
    color:silver;
    text-decoration: none;
    font-weight: 100;
}

.more-about:hover {
    text-decoration: none;
    color: #54E383;
}
*/

.arrow {
	width: 70px;
	height: 30px;
	background: linear-gradient(45deg, #0bf, #54E383);
	clip-path: polygon(
		0 10px, 
		50px 10px, 
		50px 0, 
		100% 50%, 
		50px 100%, 
		50px 20px, 
		0 20px 
	)};

.text-custom-green {
    color: #21ac4f!important;
}